.container{
	max-width: 100%;
	margin: 0px;
	padding: 0px;
	background-image: url(../../images/index/tourism-main.jpeg);
	background-size:cover;
	color: wheat;
}

.swiper-container {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 50px;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	box-shadow:0 0 50px 30px transparent inset;
}

.col-md-12 .col-lg-12{
	padding: 0px;
}

.row{
	margin-left:0px;
	margin-right:0px;
}

.top-menu{
	padding-top: 5px;
	font-weight: bold;
}