.shadow-div{
	bottom: -2px;
	width: 100%;
	height: 2px;
	border-top: 1px solid #d6d6d6;
	background-color: rgba(0,0,0,.06);
	overflow: hidden;
}

.torism-type div{
	text-align: center;
	margin-top: 20px;
	border-left: rgb(188,194,199,0.5) solid 3px;
}

.torism-type div:hover{
	color: rgb(255,157,0);
	text-align: center;
	margin-top: 20px;
	border-left: rgb(188,194,199,0.5) solid 3px;
}

.torism-type-select-now{
	color: rgb(255,157,0);
}

.project-item{
	margin-top: 20px;
}

.project-pic{
	height: 220px;
	width: 100%;
}

.hot-project-title{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	font-size: 18px;
}

.hot-project-dec{
	margin-top: 10px;
	overflow: hidden;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: rgb(188,194,199,0.5) solid 3px;
}

.travel-status-item{
	font-size: 14px;
	color: dimgrey;
}

.travels-read{
	background-image: url(../../images/logo1.png);
	background-size: 200px;
	background-position: -30px -50px !important;
	float: left;
	margin-top: 4px;
	width: 18px;
	height: 14px;
}

.travels-comment{
	background-image: url(../../images/logo1.png);
	background-size: 200px;
	background-position: 0px -50px !important;
	float: left;
	margin-top: 4px;
	width: 14px;
	height: 16px;
}

.travels-hot{
	background-image: url(../../images/logo1.png);
	background-size: 200px;
	background-position: -30px 0px !important;
	float: left;
	margin-top: 4px;
	width: 16px;
	height: 16px;
}

.travels-up{
	background-image: url(../../images/logo1.png);
	background-size: 200px;
	background-position: -60px 0 !important;
	float: left;
	margin-top: -4px;
	width: 38px;
	height: 33px;
}