.top{
	height: 68px;
	background-color: white;
}

.menu-top{
	height: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
}

.nav-item{
	padding-right: 20px;
	padding-left: 20px;
	height: 100%;
	line-height: 100%;
	font-size: 16px;
}

.navbar-nav{
	height: 100%;
	text-align: center;
}

.select-now{
	background-color: rgb(255,157,0);
}

.nav-link{
	line-height: 52px;
	text-align: center;
	color: #333;
}

.nav-link:hover{
	line-height: 52px;
	text-align: center;
	color: rgb(255,157,0);
	border-bottom: rgb(255,157,0) solid 2px;
}

.link-now{
	color: #fff !important;
	font-family: "microsoft yahei";
	border-bottom: rgb(255,157,0) solid 2px;
}

.qq-login{
	line-height: 52px;
	background-image: url(../../images/index/main-icons.png);
	background-position: -30px -50px !important;
	display: inline-block;
	margin-right: 6px;
	width: 26px;
	height: 26px;
	vertical-align: -7px;
	padding-top: 21px;
	margin-top: 21px;
}

.weixin-login{
	line-height: 52px;
	background-image: url(../../images/index/main-icons.png);
	background-position: 0 -165px !important;
	display: inline-block;
	margin-right: 6px;
	width: 26px;
	height: 26px;
	vertical-align: -7px;
	padding-top: 21px;
	margin-top: 21px;
}

.qq-login:hover{
	line-height: 52px;
	background-image: url(../../images/index/main-icons.png);
	background-position: -30px -80px !important;
	display: inline-block;
	margin-right: 6px;
	width: 26px;
	height: 26px;
	vertical-align: -7px;
	padding-top: 21px;
	margin-top: 21px;
}

.weixin-login:hover{
	line-height: 52px;
	background-image: url(../../images/index/main-icons.png);
	background-position: -30px -165px !important;
	display: inline-block;
	margin-right: 6px;
	width: 26px;
	height: 26px;
	vertical-align: -7px;
	padding-top: 21px;
	margin-top: 21px;
}

.container{
	padding: 0;
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}